<!DOCTYPE html>
<html>
  <head>
    <title>Bien</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <%= link_to root_path do %>
          <%= image_tag "bien-logo.svg" %>
        <% end %>
    </header>

    <nav>
      <%= link_to "Add a review", new_review_path %>
    </nav>

    <%= yield %>

    <footer>
      ©bienreviews2020
    </footer>
  </body>
</html>
